In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import time

In [2]:
# Set the chromedriver path
from selenium import webdriver
options = webdriver.ChromeOptions() 
options.add_argument('--headless')
driver=webdriver.Chrome("C:\Data_Visualization\\UCFLM20190409DATA\\Homework\\12-Web-Scraping-and-Document-Databases\\chromedriver.exe", chrome_options=options)
executable_path = {"executable_path": "C:\Data_Visualization\\UCFLM20190409DATA\\Homework\\12-Web-Scraping-and-Document-Databases\\chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

C:\Users\melis\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: use options instead of chrome_options
  """

In [3]:
# NASA Mars News
Nasa_Mars_news_url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(Nasa_Mars_news_url)

In [4]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
soup = bs(html, 'html.parser')

In [6]:
#Scrape the NASA Mars News Site and collect the latest News Title. Assign the text to variables that you can reference later.
news_title = soup.find("li", class_="slide").find("div", class_="content_title").text
print(news_title)

NASA Invites Students to Name Mars 2020 Rover

In [7]:
#Scrape the NASA Mars News Site and collect the latest Paragraph Text. Assign the text to variables that you can reference later.
news_p = soup.find("li", class_="slide").find("div", class_="article_teaser_body").text
print(news_p)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [8]:
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url. URL to be scrapped.
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA00069-1920x1200.jpg'

print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA00069-1920x1200.jpg

In [9]:
#Visit the page using the browser
browser.visit(featured_image_url)
# assign html content
html = browser.html
# Create a Beautiful Soup object
soup_featured_image = bs(html, "html.parser")

In [10]:
# Mars Weather URL to be scrapped
Mars_weather_url = 'https://twitter.com/marswxreport?lang=en'
       
#Visit the page using the browser
browser.visit(Mars_weather_url)
# assign html content
html = browser.html
# Create a Beautiful Soup object
Mars_weather_soup = bs(html, "html.parser")

Mars_weather =Mars_weather_soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text
print(Mars_weather)

We won’t be hearing from @MarsCuriosity or @NASAInSight for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/ …pic.twitter.com/fWruE2v151

In [11]:
Mars_weather_data = Mars_weather_soup.find('div', class_='js-tweet-text-container')
print(Mars_weather_data)

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">We won’t be hearing from <a class="twitter-atreply pretty-link js-nav" data-mentioned-user-id="15473958" dir="ltr" href="/MarsCuriosity"><s>@</s><b>MarsCuriosity</b></a> or <a class="twitter-atreply pretty-link js-nav" data-mentioned-user-id="407387443" dir="ltr" href="/NASAInSight"><s>@</s><b>NASAInSight</b></a> for the next 2 weeks during Mars solar conjunction. Read more about why Mars missions go silent every 2 years: <a class="twitter-timeline-link" data-expanded-url="https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/" dir="ltr" href="https://t.co/OAOoqH9HCt" rel="nofollow noopener" target="_blank" title="https://www.wral.com/mars-spacecraft-go-quiet-during-solar-conjunction/18595551/"><span class="tco-ellipsis"></span><span class="invisible">https://www.</span><span class="js-display-url">wral.com/mars-spacecraf</span><span class="invisible">t-go-quiet-during-solar-conjunction/18595551/</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/fWruE2v151">pic.twitter.com/fWruE2v151</a></p>
</div>

In [12]:
#Mars facts URL
mars_facts_url="https://space-facts.com/mars/"

In [13]:
# use Pandas to scrape the table
tables = pd.read_html(mars_facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# Convert list of table into pandas dataframe
Mars_facts_df = tables[0]

# update column name
Mars_facts_df.columns=["Facts", 'Mars','Earth']

# inspect dataframe
Mars_facts_df

                Facts             Mars            Earth
0           Diameter:         6,779 km        12,742 km
1               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2              Moons:                2                1
3  Distance from Sun:   227,943,824 km   149,598,262 km
4     Length of Year:   687 Earth days      365.24 days
5        Temperature:    -153 to 20 °C      -88 to 58°C

In [15]:
#Drop Earth column
Mars_facts_df.drop(["Earth"], axis=1)

                Facts             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:    -153 to 20 °C

In [16]:
# Use pandas to convert the data to a HTML table string
Mars_facts_df.to_html('table.html')

In [17]:
#Mars Hemispheres
Mars_hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(Mars_hemispheres_url)
html = browser.html
mars_hemispheres_soup = bs(html,"html.parser")
links = mars_hemispheres_soup.find_all('div', class_='item')

In [18]:
mars_hemispheres_title = mars_hemispheres_soup.find('a', class_='product-item')
print(mars_hemispheres_title)

<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a>

In [33]:
hemisphere_image_urls = []

for link in links:
    title = link.h3.text
    print(title)
    browser.click_link_by_partial_text(title)
    html = browser.html
    soup = bs(html, 'html.parser')
    results = soup.find('div', class_='downloads')
    img_url = results.a['href']
    hemisphere_image_urls.append({'title': title, 'img_url': img_url})
    print(img_url)
    browser.back()

Cerberus Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [34]:
print(title)

Valles Marineris Hemisphere Enhanced